.button {
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  background-color: var(--accent-color);
  color: white;
}

.button:hover {
  cursor: pointer;
  background-color: white !important;
  color: var(--accent-color);
}
